/*Zasloni s manjim width izmedu 993px i 1230px*/
@media (min-width: 993px) {
    .text-mobile {
      display: none;
    }
    
  }
 /*Zasloni s manjim width od 993px*/
@media (max-width: 993px) {
    .blok,.name {
      display: none;
    }
    .text-mobile{
      color: white;
       display: flex;
      justify-content: center; /* Horizontally center */
      align-items: center; /* Vertically center */
      min-height: 70vh;
      font-size: 30px;
      font-family: monospace;
    }
      .navmenu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px; 
        color: #fff; 
        z-index: 1000;
      }

      .container {
        width: 300px;     
        height: 300px;      
        display: flex;
        justify-content: center; 
        align-items: center;   
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);transform: translate(-50%, -50%)
        
      }

      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px; 
        width: 300px;
      }
      .container-text{
        font-size: 10px; 
        font-family: monospace;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .container-text-contact{
        font-size: 14px; 
        font-family: monospace;
      }
      .text{
        font-size: 10px;
        margin-bottom: 20px;
        
      }
      .image-card {
        text-align: center;
        color: white;
      }
      
      .image-card img {
        max-width: 100%; 
        max-height: 70px;
      }
      .image-grid {
        display: grid;
        padding-top: 25px;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 0px; 
        grid-column-gap: 30px;
        justify-items: center; 
        align-items: center; 
        font-family: monospace;
        font-size: 11px;
      }
      .sphere{
        width: 70px;
        height: 70px;
      }
    
      .floating {
        position: fixed;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        animation: rotate 25s linear infinite;
      }
      
      @keyframes rotate {
        0% {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotate(360deg);
        }
      }
      
  }

  /*Zasloni s vecim width od 1230px*/

  @media (min-width: 1230px) {
    .container {
      position: absolute;
      top: 50%; 
      left: 100px;
      right: 60px;
      transform: translateY(-50%); 
    }
  
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 500px;
      width: 500px;
      background-image: url('../images/container_image.png');
      background-size: cover;
      background-repeat: no-repeat;
      color: white; 
      text-align: left; 
    }
    
    .container-text{
      font-size: 18px; 
      font-family: monospace;
      padding: 0px 45px 0px 45px;
     
    }
    .container-text-contact{
      font-size: 25px; 
      font-family: monospace;
    }
    .text{
      font-size: 18px;
      margin-bottom: 20px;
      
    }
    .image-card {
      text-align: center;
      color: white;
    }
    
    .image-card img {
      max-width: 100%; 
      max-height: 140px;
    }
    .image-grid {
      display: grid;
      padding-top: 25px;
      grid-template-columns: repeat(2, 1fr); 
      grid-gap: 0px; 
      grid-column-gap: 30px;
      justify-items: center; 
      align-items: center; 
      font-family: monospace;
      font-size: 15px;
    }
    
  }