body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/pozadina.png');
  background-size: cover; /* Change to cover */
  background-position: center;
  background-repeat: no-repeat;
}



  .container {
    position: absolute;
    top: 50%; 
    left: 60px;
    right: 60px;
    transform: translateY(-50%); 
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 350px;
    background-image: url('./slika1.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white; 
    text-align: left; 
  }
  
  .container-text{
    font-size: 13px; 
    font-family: monospace;
    padding: 0 25px 0 25px;
   
  }
  .container-text-contact{
    font-size: 17px; 
    font-family: monospace;
  }
  .navcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
  }
  
  .navmenu {
    text-align: center; 
    font-size: 16px;
    font-family: monospace;
  }

  .blok{
    width: 391.08px;
    height: 50.40px;
    padding-right: 15px;
  }

  .name{
    padding-left: 15px;
    font-family: monospace;
    font-size: 16px;
  }
  
  .navmenu ul {
    list-style: none; 
    padding: 0; 
    text-align: center;
  }
  
  .navmenu li {
    display: inline; 
    margin-right: 20px; 
  }
  
  .navmenu li a:hover {
    color: #1bfaff;
  }
  .navmenu a {
    text-decoration: none; 
    color: white; 
  }

  .image-grid {
    display: grid;
    padding-top: 25px;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 4px; 
    grid-column-gap: 30px;
    justify-items: center; 
    align-items: center; 
    font-family: monospace;
    font-size: 15px;
  }
  
  .image-card {
    text-align: center;
    color: white;
  }
  
  .image-card img {
    max-width: 100%; 
    max-height: 90px;
  }

.text{
  
  font-size: 13px;
}

.hiperveza{
  text-decoration: none;
  color: white;
}


.floating {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(0) rotate(0deg);
  animation: floatAndRotate 1s linear infinite, rotate 20s linear infinite; 
}

@keyframes floatAndRotate {
  0% {
    transform: translate(-50%, -50%) translateY(0) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -70%) translateY(-50px) rotate(180deg); 
  }
  100% {
    transform: translate(-50%, -50%) translateY(0) rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); 
  }
}

  .sphere{
    width: 150px;
    height: 150px;
  }

  .sphere2{
    width: 70px;
    height: 70px;
  }

  .floating2 {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: rotate 20s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
    /*Responzivni dizajn*/

  @media (min-width: 993px) {
    .floating2,.text-mobile {
      display: none;
    }
    
  }

  @media (max-width: 993px) {
    .floating {
      display: none;
    }
    .text-mobile{
      color: white;
       display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  min-height: 90vh;
  font-size: 30px;
  font-family: monospace;
    }
  }

  @media (max-width: 993px) {
    .blok,.name {
      display: none;
    }
   
      .navmenu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px; /* Visina navmenija */
        color: #fff; /* Boja teksta */
        z-index: 1000;
      }

      .container {
        width: 300px;     
        height: 300px;      
        display: flex;
        justify-content: center; /* Horizontalno centriranje */
        align-items: center;     /* Vertikalno centriranje */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);transform: translate(-50%, -50%)
        
      }

      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px; 
        width: 300px;
      }
      .container-text{
        font-size: 10px; 
        font-family: monospace;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .container-text-contact{
        font-size: 14px; 
        font-family: monospace;
      }
      .text{
        font-size: 10px;
        margin-bottom: 20px;
        
      }
      .image-card {
        text-align: center;
        color: white;
      }
      
      .image-card img {
        max-width: 100%; 
        max-height: 70px;
      }
      .image-grid {
        display: grid;
        padding-top: 25px;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 0px; 
        grid-column-gap: 30px;
        justify-items: center; 
        align-items: center; 
        font-family: monospace;
        font-size: 11px;
      }
      
  }

  @media (min-width: 1230px) {
    .container {
      position: absolute;
      top: 50%; 
      left: 60px;
      right: 60px;
      transform: translateY(-50%); 
    }
  
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 500px;
      width: 500px;
      background-image: url('./slika1.png');
      background-size: cover;
      background-repeat: no-repeat;
      color: white; 
      text-align: left; 
    }
    
    .container-text{
      font-size: 18px; 
      font-family: monospace;
      padding: 0 45px 0 45px;
     
    }
    .container-text-contact{
      font-size: 25px; 
      font-family: monospace;
    }
    .text{
      font-size: 18px;
      margin-bottom: 20px;
      
    }
    .image-card {
      text-align: center;
      color: white;
    }
    
    .image-card img {
      max-width: 100%; 
      max-height: 140px;
    }
    .image-grid {
      display: grid;
      padding-top: 25px;
      grid-template-columns: repeat(2, 1fr); 
      grid-gap: 0px; 
      grid-column-gap: 30px;
      justify-items: center; 
      align-items: center; 
      font-family: monospace;
      font-size: 15px;
    }
    
    
  }
